#color-palette {

       border-color:black;
       border-style:solid;
       border-width:1px;

}

.color {

    border-color:black;
    border-style:solid;
    border-width:1px;
    display: inline-block;

}

#black {

    background-color: black;

}

#red {

    background-color: red;

}

#green {

    background-color: green;

}

#blue {

    background-color: blue;

}

#pixel-board {

    border-style: solid;
    border-color: black;
    border-width:1px;
    display: inline-grid;
    grid-template-columns: 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px;
             
}

.pixel {

    background-color: white;
    width: 40px;
    height: 40px;
    border-color: black;
    border-width:1px;
    border-style: solid;
    
}